<h1>Créditos</h1>
<p>
    Esta práctica ha sido desarrollada por Alejandro Ly Liu y Mounir Faradji.
<br/>
    Repositorio GitHub:<a href="https://github.com/leyf/quiz_2017">Enlace</a>
</p>
<img src="/images/etsit.png" />

