<h1>Ayuda</h1>
<p>
Un quiz es una serie de preguntas acerca de determinado tema.<br/>
<br/>
Instrucciones:<br/>
<br/>
1. Seleccione un quiz.</br>
2. Introduzca su respuesta en el recuadro libre.</br>
3. Pulse Comprobar.</br>
<br/>
El objetivo del portal es educativo.<br/>
</p>
